:root {
  --main-color: #a63700;
  --secondary-color: #531b00;
  --white: #ffffff;
  --gray: #222222;
  --li-gray: #f1f1f1;
}

/*
@media (min-width: 1200px)
1140 - content
@media (min-width: 992px)
970
@media (min-width: 768px)
750
*/

/*div {
  border: black solid 1px !important;
  padding: 1px !important;
}*/
html {
  font-family: Helvetica, Arial, sans-serif;
  color: #222222;
}

body {
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}

h4 {
  color: var(--main-color);
}

p{
  font-size: 14px;
}

#eID {
  z-index: 1;
  border: 5px solid var(--main-color);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  font-size: 2em;
  padding: 10px 20px;
  position: absolute;
  background-color: var(--white);
  transform: rotate(-15deg);
  box-shadow: 0px 8px 20px black;
  margin-left: 250px;
  margin-top: 20px;
}

.header {
  background-image: url(img/header_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 75% 0%;
}
.header > .top {
  height: 100px;
  max-width: 1140px;
  margin: auto;
  padding: 20px 0px 16px 0px;
  display: flex;
  justify-content: space-between;
}

.header > .top > .left {
  width: 400px;
}

.header > .top > .right {
  width: 750px;
}

.header > .top > .right p {
  color: #edab65;
  font-size: 28px;
}

/*celotna navigacija*/

.header > .bottom > ul {
  background-color: var(--main-color);
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.header > .bottom > ul div {
  max-width: 1140px;
  margin: 0 auto;
}

.header > .bottom > ul li {
  background: var(--main-color);
  display: inline-block;
  padding: 18px 15px;
  margin: 0px 0px;
  min-width: 75px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.7s;
}

/*po principu https://css-tricks.com/the-shapes-of-css/*/
.header > .bottom > ul li span {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 3px 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
}

.header > .bottom ul li:hover {
  background: var(--secondary-color);
  cursor: pointer;
}

.header > .bottom > ul li a {
  color: var(--white);
  text-decoration: none;
}

.header > .bottom > ul li ul {
  background-color: var(--main-color);
  padding-left: 0px;
  min-width: 200px;
  position: absolute;
  margin-top: 18px;
  left: 0px;
  display: none;
}

.header > .bottom > ul li:hover ul,
.header > .bottom > ul li ul:hover {
  visibility: visible;
  display: block;
}

.header > .bottom > ul li ul li {
  clear: both;
  width: 100%;
}

/*main*/
.main {
  width: 1140px;
  margin: 0 auto;
  background-color: #fbfbfb;
}

.main > .cover > img {
  width: 100%;
  height: auto;
}

.main > .content {
  display: flex;
  flex-wrap: nowrap;
}

/*#################################### leva strani #########################*/
.main > .content > .left {
  font-size: 15px;
  min-width: 360px;
  background-color: var(--li-gray);
}
.main > .content > .left div {
  background-color: var(--white);
  width: 320px;
  padding: 0px;
  margin: 20px auto;
  background-color: var(--white);
}

/*###############  meni  ############################*/
.main > .content > .left ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.main > .content > .left ul li:not(:last-child) {
  border-bottom: 1px solid var(--li-gray);
}

.main > .content > .left ul li a {
  display: block;
  padding: 10px;
  color: var(--gray);
  text-decoration: none;
}

.main > .content > .left ul li:first-child {
  background-color: var(--main-color);
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  text-decoration: none;
}

.main > .content > .left ul li:first-child a {
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
}
/*###############  barve orginizacijskih enot  ############################*/
.main > .content > .left > .top > ul li:nth-child(2) a:hover {
  background-color: #0057b8;
}

.main > .content > .left > .top > ul li:nth-child(3) a:hover {
  background-color: #009639;
}

.main > .content > .left > .top > ul li:nth-child(4) a:hover {
  background-color: #ef4a81;
}

.main > .content > .left > .top > ul li:nth-child(5) a:hover {
  background-color: #e5a200;
}

.main > .content > .left > .top > ul li:nth-child(6) a:hover {
  background-color: #ffd30a;
}

.main > .content > .left > .top > ul li:nth-child(7) a:hover {
  background-color: #009fdf;
}

.main > .content > .left > .top > ul li:nth-child(8) a:hover {
  background-color: #8094dd;
}

.main > .content > .left > .top > ul li a:hover {
  color: var(--white);
}

.main > .content > .left > .mid > ul li:not(:first-child) a:hover {
  text-decoration: underline;
}

.main > .content > .left > .bottom img {
  padding: 10px;
  max-width: 260px;
  max-height: 100%;
}

/*#############################  desna stran###########################*/
.main > .content > .right > .top h1 {
  padding: 0px 30px;
}

.main > .content > .right > .mid {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}
/*https://stackoverflow.com/questions/4151743/how-can-i-change-the-thickness-of-my-hr-tag*/
.main > .content > .right > .mid hr {
  border: none;
  height: 1px;
  background-color: #eeeeee;
  margin: 20px 0px 20px 0px;
}

.main > .content > .right > .mid > div {
  width: 50%;
  padding: 0px 30px;
}

.main > .content > .right > .mid a {
  color: #c68c0c;
  text-decoration: none;
  font-weight: 700;
}
.main > .content > .right > .mid a:hover {
  text-decoration: underline;
}
.main .main > .content > .right > .mid p {
  font-size: 14px;
}

.main > .content > .right > .mid > .napovednik > .novica {
  display: flex;
  column-gap: 10px;
}
.main > .content > .right > .mid .novica p{
  margin:0px;
  line-height: 20px;

}

.main > .content > .right > .mid > .pomembno > .podatki-o-soli{
  line-height: 20px;
}
.main > .content > .right > .mid > .pomembno > .podatki-o-soli a {
  color: var(--gray);
  font-weight: 500;
}
/*Google zemljevid*/

.main > .content > .right .map {
  position: relative;
  text-align: right;
  height: auto;
  width: auto;
}

.main > .content > .right .map .canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: auto;
}

/*#####################  vizija  #################################*/

.main > .vizija > h3 {
  text-align: center;
  background-color: #dadada;
}

.footer {
  background-color: var(--main-color);
  padding: 20px 0px 20px 0px;
}
.footer > .content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  color: var(--white);
}
.footer > .content a {
  color: var(--white);
}

.footer > .content p {
  display: inline-flex;
  align-items: center;
}
#gray-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url(img/gray-logo.png);
}
#RSS {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(img/rss.gif);
}
